The goal for this piece of code is:
- Clean the data for the following datasets:
    - K2
    - APOKSAC
    - APOGEE
    - GALAH

After we have cleaned the datas is
- Use K2 model to predict the mass for APOGEE and GALAH
- Use APOKSAC model to predict mass for APOGEE

The goal is to get a table contain the following for all the data sets and use this to predict the mass of stars.
The table include parameters such as:

- Effective Temperature
- Log g
- Iron Abundance [Fe/H]
- Alpha Abundance [alpha/Fe]
- Carbon Abundance [C/Fe]
- Nitrogen Abundance [N/Fe]
- Oxygen Abundance [O/Fe]

In addition, we will extract the stars id to allow for identification

- `tmass_id` 2MASS IDs
- `gaiadr3_source_id` Gaia Id

Importing the required packages

In [1]:
from astropy.table import Table
import pandas as pd         # For table/data management

# Cleaning the GALAH Data

In [2]:
# Import the data and change into a data frame
def importGalah():
    galah = Table.read("RawData/galah_dr4_allspec_220713.fits", format = "fits")
    names = [name for name in galah.colnames if len(galah[name].shape) <= 1]
    galah = galah[names].to_pandas()
    return galah

In [3]:
galah = importGalah()

For Apogee Data, there are a few recommendations (this usually indicates that the data has some issues, e.g. unreliably broadening and other issues) for the flag that should be applied:
- `snr_c3_iraf > 30`
- `flag_sp == 0`
- For any element `X`, the flag `flag_X_fe == 0`

More information can be found [the GALAH Survey Website](https://www.galah-survey.org/dr3/flags/)

In [40]:
# Filter the data
# galah = galah.loc[galah["snr_c3_iraf"] > 30]
galah = galah.loc[galah["flag_sp"] == 0]
galah = galah.loc[galah["flag_fe_h"] == 0]
galah = galah.loc[galah["flag_al_fe"] == 0]
galah = galah.loc[galah["flag_c_fe"] == 0]
galah = galah.loc[galah["flag_n_fe"] == 0]
galah = galah.loc[galah["flag_o_fe"] == 0]

In [48]:
galah

,sobject_id,tmass_id,gaiadr3_source_id,ra,dec,flag_sp,chi2_sp,model_name,teff,e_teff,...,rv_k_is,ew_dib5780,sigma_dib5780,rv_dib5780,ew_dib5797,sigma_dib5797,rv_dib5797,ew_dib6613,sigma_dib6613,rv_dib6613
5,131216001101010,b'05225435-5857055',4762753422822077184,80.726471,-58.951542,0,0.801761,b'4750_2.50_-0.25',4747.277832,11.832772,...,85.141571,0.023134,0.252208,26.350906,0.018000,0.101814,-39.829533,0.029444,1.492405,31.226997
8,131216001101014,b'05242161-5901319',4762739782006427648,81.090057,-59.025547,0,0.866050,b'5000_4.50_0.00',5007.801270,9.640579,...,-56.604633,0.023699,0.536554,-5.562334,0.025659,0.737862,-5.556193,0.015717,0.446130,-5.526703
11,131216001101017,b'05221820-5902598',4762730882833911808,80.575874,-59.049953,0,0.843927,b'4750_4.50_0.00',4801.387207,8.895825,...,167.882294,-0.012029,0.074605,39.358860,0.016823,0.127976,-15.108765,0.005813,0.160391,-8.338925
14,131216001101020,b'05215205-5900418',4762731226431207168,80.466881,-59.011616,0,0.802972,b'5000_3.50_-0.50',4970.567383,11.251250,...,-126.514061,0.020683,0.284295,22.414080,0.009317,0.090492,-51.941895,-0.017749,0.689322,142.522812
16,131216001101022,b'05222284-5903420',4762727927896411392,80.595207,-59.061672,0,1.240397,b'5250_4.50_0.25',5278.634277,4.595638,...,-13.605973,0.015943,0.222795,30.253696,-0.010231,0.392958,-41.382511,0.007021,0.049410,11.469566
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
911514,220422002101122,b'08460664-4312461',5524054930300489088,131.527679,-43.212841,0,0.732496,b'4750_2.50_-0.25',4604.052734,18.468470,...,-20.082527,0.320185,1.122763,14.676874,0.085219,0.415381,-22.587265,0.079530,0.257229,0.847907
911566,220422002101199,b'08431567-4230079',5524898599314763136,130.815277,-42.502193,0,0.756809,b'5000_3.00_0.00',4921.517090,12.264063,...,27.553761,0.220546,1.030082,45.633423,0.062203,1.144449,13.689507,0.048689,0.384843,61.364906
911568,220422002101203,b'08433930-4230037',5524851114156313600,130.913773,-42.501072,0,0.790913,b'4500_2.50_0.00',4544.542969,24.683069,...,-41.585598,0.479357,0.681622,-23.666155,0.169192,0.646230,-36.374008,0.216087,0.376157,-15.404000
911580,220422002101217,b'08444698-4217078',5524953604957635456,131.195679,-42.285442,0,0.743674,b'4750_4.50_0.00',4600.755371,21.286943,...,-154.821548,0.059364,0.431991,-3.519847,0.020647,0.016018,-4.275724,0.010610,0.044947,-10.039660
911626,220422002101274,b'08464041-4205267',5524947901240914176,131.668350,-42.090771,0,0.759723,b'5000_2.50_0.00',5028.023438,12.537756,...,17.360641,0.336694,1.095364,31.839413,0.058513,0.293633,9.455349,0.088601,0.415951,51.483608

Now the appropriate flag has been used, we extract only the useful columns and save the data for later.

In [50]:
galah = galah[["tmass_id", "gaiadr3_source_id", "teff", "logg", "fe_h", "al_fe", "c_fe", "n_fe", "o_fe"]]
# Remove all rows with null values
galah.dropna()
galah.to_csv("ProcessedData/cleaned_galah.csv", index=False)

In [51]:
galah

,tmass_id,gaiadr3_source_id,teff,logg,fe_h,al_fe,c_fe,n_fe,o_fe
5,b'05225435-5857055',4762753422822077184,4747.277832,2.502026,-0.295569,0.242638,0.114089,0.048963,0.213739
8,b'05242161-5901319',4762739782006427648,5007.801270,4.504993,0.065576,0.186914,-0.039235,0.194514,-0.380775
11,b'05221820-5902598',4762730882833911808,4801.387207,4.519791,-0.054487,-0.114537,-0.167340,-0.317684,-0.461599
14,b'05215205-5900418',4762731226431207168,4970.567383,3.456641,-0.314558,-0.047509,0.278630,0.263258,0.441423
16,b'05222284-5903420',4762727927896411392,5278.634277,4.480108,0.221903,0.212420,0.019690,0.207750,-0.092077
...,...,...,...,...,...,...,...,...,...
911514,b'08460664-4312461',5524054930300489088,4604.052734,2.628620,-0.104896,0.592156,0.581064,0.267382,0.860856
911566,b'08431567-4230079',5524898599314763136,4921.517090,3.204505,0.015238,0.146001,0.029876,0.221036,0.257410
911568,b'08433930-4230037',5524851114156313600,4544.542969,2.545092,0.151254,0.061476,0.121679,-0.072001,0.024033
911580,b'08444698-4217078',5524953604957635456,4600.755371,4.267867,0.027199,-0.284221,0.148993,0.315737,0.339467
911626,b'08464041-4205267',5524947901240914176,5028.023438,2.762224,0.054385,0.085140,-0.281388,0.341346,-0.391056

# Cleaning APOGEE Data

In [8]:
def importApogee():
    apogee = Table.read("RawData/allStar-dr17-synspec_rev1.fits", format="fits", hdu=1)
    names = [name for name in apogee.colnames if len(apogee[name].shape) <= 1]
    apogee = apogee[names].to_pandas()
    return apogee

In [9]:
apogee = importApogee()

For APOGEE, we do something similar by making sure all the parameters are working on are good.
More information can be found [SDSS explanantion of bitmasks](https://www.sdss.org/dr13/algorithms/bitmasks/#APOGEE_ASPCAPFLAG) and [SDSS recommendations for bitmasks](https://www.sdss.org/dr13/irspec/abundances/)

The parameters
- `ASPCAPFLAG & STAR_BAD == 0` (`STAR_BAD` is the 23rd bit (starting from 0), or  `STAR_BAD = 0b 1000 0000 0000 0000 0000 0000`)
    - `STAR_BAD` is a general indication of whether there are issues with measuring surface temperature, surface gravity, and check if any elements have `GRIDEDGE_BAD` set
- `ELEMFLAG`
    - Any example of this is `FE_H_FLAG`
        - Make sure that the flag does not contain `GRIDEDGE_BAD`, `GRIDEDGE_WARN` and `CALRANGE_BAD`
    - We should just check that the flag is equal to zero to eliminate all and any problematic behaviour

In [12]:
# Filter the data
def cleanApogee(apogee):
    STAR_BAD = 1 << 23
    apogee = apogee.loc[apogee['ASPCAPFLAG'] & STAR_BAD == 0]
    apogee = apogee.loc[apogee['FE_H_FLAG'] == 0]
    apogee = apogee.loc[apogee['C_FE_FLAG'] == 0]
    apogee = apogee.loc[apogee['AL_FE_FLAG'] == 0]
    apogee = apogee.loc[apogee['N_FE_FLAG'] == 0]
    apogee = apogee.loc[apogee['O_FE_FLAG'] == 0]
    apogee.dropna()
    return apogee

In [13]:
apogee = cleanApogee(apogee)

Extract the useful column and save for later

In [14]:
apogee = apogee[["APOGEE_ID","TEFF", "LOGG", "FE_H", "AL_FE", "C_FE", "N_FE", "O_FE"]]
apogee.columns = apogee.columns.str.lower()
apogee.to_csv("ProcessedData/cleaned_apogee.csv", index=False)

# Cleaning APOKSAC 2 Data

In [47]:
apoksac_cols = ["kic", "tmass_id", "mass"]
apoksac_col_width = [(0, 9), (9, 26), (27, 39)]

apoksac = pd.read_fwf(
    "RawData/asu.tsv",
    skiprows=42,
    header=None,
    index_col=False,
    names = apoksac_cols,
    colspecs = apoksac_col_width
)
apoksac = apoksac[0:6676]
apoksac = apoksac.dropna()

           kic          tmass_id   mass
0      1027110  19250937+3644599  0.985
1      1027337  19252021+3647118  1.227
2      1160789  19233280+3652207  0.875
4      1161447  19241746+3651460  1.460
5      1161618  19242614+3648478  1.183
...        ...               ...    ...
6671  12784948  19210624+5200236  1.254
6672  12785083  19212376+5204593  1.154
6673  12785250  19214766+5205365  1.386
6674  12884116  19182431+5215519  1.081
6675  12884930  19200187+5214588  1.343

[6529 rows x 3 columns]

In [48]:
apoksac.to_csv("ProcessedData/cleaned_apoksac.csv", index=False)

Match APOKSAC data with APOGEE data

In [25]:
apogee = pd.read_csv("ProcessedData/cleaned_apogee.csv")
apogee = apogee[1:len(apogee)]

In [26]:
# Manipulate APOGEE id to 2MASS id
apogee = apogee.rename(columns = {"apogee_id": "tmass_id"})
apogee.tmass_id = apogee.tmass_id.str[4:-1]
apogee.to_csv("ProcessedData/cleaned_apogee.csv", index=False)

Now that we have separated the APOGEE and APOKSAC data, we need to merge them and save.

In [27]:
apoksac = pd.read_csv("ProcessedData/cleaned_apoksac.csv")
apogee = pd.read_csv("ProcessedData/cleaned_apogee.csv")

In [33]:
apoksac_mass_prediction_data = pd.merge(apogee, apoksac, on="tmass_id")
apoksac_mass_prediction_data.to_csv("ProcessedData/mass_prediction_apoksac.csv", index=False)

# Cleaning K2 Data
To do so, we need to

1. extract the mass coefficient from the data set
2. find the effective temperature by finding the data in the GALAH data set by matching the EPIC identifier
3. determine the mass
4. extract the chemical composition of stars
5. store the data for use

For the purpose of this, we will keep the mass of stars as a multiple of solar mass.

In [111]:
k2_cols = ["EPIC", "kappa-m-c"]
k2_col_width = [(0, 9), (24, 29)]

k2 = pd.read_fwf(
    "RawData/k2_mass_coefficients.txt",
    skiprows=50,
    header=None,
    index_col=False,
    names = k2_cols,
    colspecs = k2_col_width
)
# k2 = k2.rename(columns={"EPIC": "source_id"})
# According to the International Astronomical Union (IAU), effective temperature of the sun is 5772 +- 0.8K
teff_sun = 5772

In [112]:
k2

            EPIC kappa-m-c
0      201051625     1.324
1      201079541     1.523
2      201082897     1.027
3      201084449     1.544
4      201084664     1.076
...          ...       ...
18817  251619708     0.880
18818  251620873     0.663
18819  251621333     1.193
18820  251622742     1.497
18821  251630759     1.274

[18822 rows x 2 columns]

To determine the mass for K2 stars, we use the following formula (from K2 Galactic Archaeology Program DR3):

$$ \frac{M}{M_\odot} = \kappa_M (\frac{T_{eff}}{T_{eff, \odot}})^{3/2} $$

To do so, we will use [gaia-kepler.fun](https://gaia-kepler.fun) in order to determine the link K2 and GALAH data
- More information of the tables in the data set is given by [this documentation](https://exoplanetarchive.ipac.caltech.edu/docs/API_keplerstellar_columns.html)
- To do this, we will first match the K2 data with the `k2ToGaia`

In [ ]:
k2ToGaia = Table.read("RawData/kepler_dr3_good.fits", format = "fits")
names = [name for name in k2ToGaia.colnames if len(k2ToGaia[name].shape) <= 1]
k2ToGaia = k2ToGaia[names].to_pandas()

In [84]:
k2ToGaia = k2ToGaia[["tm_designation", "kepid", "source_id"]]
k2ToGaia

                    tm_designation     kepid            source_id
0       b'2MASS J19240929+3635532'    757076  2050233803028318080
1       b'2MASS J19241033+3635377'    757099  2050233601176543104
2       b'2MASS J19241341+3633358'    757137  2050230543159814656
3       b'2MASS J19242289+3633538'    757280  2050230611879323904
4       b'2MASS J19243302+3634385'    757450  2050231848829944320
...                            ...       ...                  ...
196757  b'2MASS J19201916+5227134'  12984227  2139330189463960320
196758  b'2MASS J19202700+5224561'  12984288  2139329875927860736
196759  b'2MASS J19202959+5228286'  12984307  2139330636140575616
196760  b'2MASS J19204135+5225258'  12984404  2139329467909467008
196761  b'2MASS J19204420+5224157'  12984422  2139329399189739392

[196762 rows x 3 columns]

In [53]:
galah = pd.read_csv("ProcessedData/cleaned_galah.csv")
galah

,tmass_id,gaiadr3_source_id,teff,logg,fe_h,al_fe,c_fe,n_fe,o_fe
0,b'05225435-5857055',4762753422822077184,4747.2780,2.502026,-0.295569,0.242639,0.114089,0.048963,0.213739
1,b'05242161-5901319',4762739782006427648,5007.8013,4.504993,0.065576,0.186914,-0.039235,0.194514,-0.380775
2,b'05221820-5902598',4762730882833911808,4801.3870,4.519791,-0.054487,-0.114537,-0.167340,-0.317684,-0.461599
3,b'05215205-5900418',4762731226431207168,4970.5674,3.456641,-0.314558,-0.047509,0.278630,0.263258,0.441423
4,b'05222284-5903420',4762727927896411392,5278.6343,4.480108,0.221903,0.212420,0.019690,0.207750,-0.092077
...,...,...,...,...,...,...,...,...,...
72116,b'08460664-4312461',5524054930300489088,4604.0527,2.628620,-0.104896,0.592156,0.581064,0.267382,0.860856
72117,b'08431567-4230079',5524898599314763136,4921.5170,3.204505,0.015238,0.146001,0.029876,0.221036,0.257410
72118,b'08433930-4230037',5524851114156313600,4544.5430,2.545092,0.151254,0.061476,0.121679,-0.072001,0.024033
72119,b'08444698-4217078',5524953604957635456,4600.7554,4.267867,0.027199,-0.284221,0.148993,0.315737,0.339467
72120,b'08464041-4205267',5524947901240914176,5028.0234,2.762224,0.054385,0.085140,-0.281388,0.341346,-0.391056

In [109]:
k2_mass_prediction = pd.merge(k2, k2ToGaia, on="source_id")

In [110]:
k2_mass_prediction

Empty DataFrame
Columns: [source_id, kappa-m-c, tm_designation, kepid]
Index: []